body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* -0-------------------------- css for Game ----------------------------- */
h1{text-align: center;}

td{height: 100px;
width: 100px;}

table{margin: 0 auto;}

.vertical{border-left: dashed 5px #48D1CC;
border-right: dashed 5px #48D1CC;}

.horizontal{border-top: dashed 5px #48D1CC;
border-bottom: dashed 5px #48D1CC;}